 
nav ul li{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    }

 nav ul li a{
    text-decoration: none;
    margin:1.2em;
    color:black;
    width: 100%;
    text-align: center;
    }   

 nav .dropbtn{
    display: none;
    font-size: 50px;


     }


     @media(max-width: 667px){
       nav .dropbtn{
        display: block;
        position: relative;
        top:22px;
        right:25px;
        cursor: pointer;
       }

       nav ul {
        display: none;
        position: absolute;
        left:10em;
        border: 1px solid black;
        z-index: 1;
        width:32%;
       }
       nav ul li:hover{
        background-color: #FFFFFF;
        width:100%;

       }
       nav:hover ul{
        display: block;

       }
     }
     @media(max-width: 768px) {
        nav .dropbtn{
        display: block;
        position: relative;
        top:22px;
        right:65px;
        cursor: pointer;
       }

       nav ul {
        display: none;
        position: absolute;

        left:72%;
        border: 1px solid black;
        z-index: 1;
        width:25%;
       }
       nav ul li:hover{
        background-color: #FFFFFF;
        width:100%;

       }
       nav:hover ul{
        display: block;

       }
     }
@media(max-width: 414px) {
        nav .dropbtn{
        display: block;
        position: relative;
        top:22px;
        right:35px;
        cursor: pointer;
       }

       nav ul {
        display: none;
        position: absolute;

        left:65%;
        border: 1px solid black;
        z-index: 1;
        width:30%;
       }
       nav ul li:hover{
        background-color: #FFFFFF;
        width:100%;

       }
       nav:hover ul{
        display: block;

       }
     }
     @media(max-width: 375px) {
        nav .dropbtn{
        display: block;
        position: relative;
        top:22px;
        right:25px;
        cursor: pointer;
       }

       nav ul {
        display: none;
        position: absolute;

        left:65%;
        border: 1px solid black;
        z-index: 1;
        width:30%;
       }
       nav ul li:hover{
        background-color: #FFFFFF;
        width:100%;

       }
       nav:hover ul{
        display: block;

       }
     }
 @media(max-width: 320px) {
        nav .dropbtn{
        display: block;
        position: relative;
        top:22px;
        right:15px;
        cursor: pointer;
       }
       nav ul li a{
        font-size: 15px;
       }
       nav ul {
        display: none;
        position: absolute;

        left:64%;
        border: 1px solid black;
        z-index: 1;
        width:33%;
       }
       nav ul li:hover{
        background-color: #FFFFFF;
        width:100%;


       }
       nav:hover ul{
        display: block;

       }
     }
 @media(max-width: 568px) {
    nav ul {
        display: none;
        position: absolute;

        left:64.5%;
        border: 1px solid black;
        z-index: 1;
        width:33%;
       }
 }